* {
  box-sizing: border-box;
}
/* Google Fonts Quicsand */
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

.clear {
  clear: both;
}

body {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}

header {
  display: inline;
}

/* ! Utilities */
h2 {
  color: #00a2c6;
}

h3 {
  color: #00a2c6;
}

/* ! Main */
main {
  padding: 20px;
  overflow: auto;
}
/* * Header */
.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #00c8eb;
  text-align: center;
  color: white;
}

nav {
  background-color: #00a2c6;
  padding: 5px;
  position: sticky;
  top: 0;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover {
  font-weight: bold;
}

nav li {
  display: inline;
  list-style: none;
  margin-right: 20px;
}

/* *Article */
.fetured-images {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
}

#content {
  float: left;
  width: 75%;
}

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
}

/* ! Asside */
.profile header {
  text-align: center;
}

.profile img {
  width: 200px;
}

/* ! Footer */
footer {
  padding: 20px;
  color: white;
  background-color: #00a2c6;
  text-align: center;
  font-weight: bold;
}

/* Viewport */
@media screen and (max-width: 1000px) {
  #content,
  aside {
    width: 100%;
    padding: 0;
  }
}
